* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #383838;
    overflow: hidden;
}

.inverted {
	filter: invert(60%);
    width: 100px;
    margin: 20px;
}

.inverted:hover {
    filter: invert(0);
    transition: ease-in-out .5s;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: azure;
}

footer>a {
    color: rgb(138, 126, 126);
    text-decoration: none;
}
.container {
	height: 80vh;
	margin: 50px auto 0;
	position: relative;
	width: 1800px;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 2px 4px;
}

.container > input {
	display: none;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}

.mem-1 { 
    background-image: url(assets/1.jpg);
    background-size: cover;
}
.mem-2 { 
    background-image: url(assets/2.jpg); 
    background-size: cover;
}
.mem-3 {
    background-image: url(assets/3.jpg); 
    background-size: cover;
}
.mem-4 { 
    background-image: url(assets/4.jpg); 
    background-size: cover;
}
.mem-5 { 
    background-image: url(assets/3.jpg); 
    background-size: cover;
}
    
.container .controls {
	right: 0;
	position: absolute;
}

.container label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
}

.container label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.container label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.container label:hover, 
#mem-1:checked ~ .controls label:nth-of-type(1),
#mem-2:checked ~ .controls label:nth-of-type(2),
#mem-3:checked ~ .controls label:nth-of-type(3),
#mem-4:checked ~ .controls label:nth-of-type(4),
#mem-5:checked ~ .controls label:nth-of-type(5) {
	background: #ddd;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.2);
	transition: transform ease-in-out .5s, opacity ease-in-out .3s;
}

#mem-1:checked ~ .slider > .mem-1,
#mem-2:checked ~ .slider > .mem-2,
#mem-3:checked ~ .slider > .mem-3,
#mem-4:checked ~ .slider > .mem-4,
#mem-5:checked ~ .slider > .mem-5 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}

#mem-1:checked ~ .slider > .mem-text-1,
#mem-2:checked ~ .slider > .mem-text-2,
#mem-3:checked ~ .slider > .mem-text-3,
#mem-4:checked ~ .slider > .mem-text-4,
#mem-5:checked ~ .slider > .mem-text-5 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}